---
# Copy to Ansible/secrets/gitlab.yml then encrypt with ansible-vault.
vault_gitlab_root_password: "CHANGE_ME_GITLAB_ROOT_PASSWORD"
vault_gitlab_runner_token: "CHANGE_ME_GITLAB_RUNNER_TOKEN"
vault_harbor_username: "gitlab"
vault_harbor_password: "CHANGE_ME_HARBOR_PASSWORD"
