---
# Recursor + forwarders
bind9_recursor: true
bind9_forward: true
bind9_forward_servers:
  - "1.1.1.1"
  - "9.9.9.9"

# Réseaux autorisés à résoudre via ce DNS
bind9_our_networks:
  - "172.16.100.0/24"
  - localhost

# Zone interne (exemple dynamique)
bind9_authoritative: true
bind9_zones_dynamic:
  - name: "jdk.lab"
    type: master
    serial: 2026011601
    admin: "postmaster.jdk.lab"
    ns_records:
      - "ns1.jdk.lab"
    rrs:
      - { label: "ns1", type: "A", rdata: "172.16.100.254" }
