---
ansible_ssh_private_key_file: ~/.ssh/id_ed25519_common
bind9_domain: "jdk.lab"
bind9_forwarders:
  - "1.1.1.1"
  - "9.9.9.9"
bind9_trusted_nets:
  - "172.16.100.0/24"
bind9_ns_name: "ns1.jdk.lab"
