---
# Recursor + forwarders
bind9_recursor: true
bind9_forward: true
bind9_forward_servers:
  - "1.1.1.1"
  - "9.9.9.9"

# Réseaux autorisés à résoudre via ce DNS
bind9_our_networks:
  - "172.16.100.0/24"
  - localhost

# Zone interne (exemple dynamique)
bind9_authoritative: true
bind9_zones_dynamic:
  - name: "jdk.lab"
    type: master
    serial: 2026011701
    admin: "postmaster.jdk.lab"
    ns_records:
      - "ns1.jdk.lab"
    rrs:
      - { label: "ns1", type: "A", rdata: "172.16.100.254" }
      - { label: "ubuntu-host", type: "A", rdata: "172.16.100.100" }
  - name: "lab.local"
    type: master
    serial: 2026011702
    admin: "postmaster.lab.local"
    ns_records:
      - "dns-server.lab.local"
    rrs:
      - { label: "dns-server", type: "A", rdata: "172.16.100.254" }
      - { label: "harbor", type: "A", rdata: "172.16.100.50" }
      - { label: "git-lab", type: "A", rdata: "172.16.100.40" }
      - { label: "gitlab", type: "CNAME", rdata: "git-lab.lab.local." }
      - { label: "tools-manager", type: "A", rdata: "172.16.100.20" }
      - { label: "monitoring", type: "A", rdata: "172.16.100.60" }
      - { label: "grafana", type: "CNAME", rdata: "monitoring.lab.local." }
      - { label: "prometheus", type: "CNAME", rdata: "monitoring.lab.local." }
      - { label: "alertmanager", type: "CNAME", rdata: "monitoring.lab.local." }
