TAIGA_SCHEME="{{ taiga_scheme | string | replace('"','\\"') }}"
TAIGA_DOMAIN="{{ taiga_domain | string | replace('"','\\"') }}"
SUBPATH="{{ taiga_subpath | string | replace('"','\\"') }}"
WEBSOCKETS_SCHEME="{{ taiga_websockets_scheme | string | replace('"','\\"') }}"

SECRET_KEY="{{ taiga_secret_key | string | replace('"','\\"') }}"

POSTGRES_USER="{{ taiga_postgres_user | string | replace('"','\\"') }}"
POSTGRES_PASSWORD="{{ taiga_postgres_password | string | replace('"','\\"') }}"

RABBITMQ_USER="{{ taiga_rabbitmq_user | string | replace('"','\\"') }}"
RABBITMQ_PASS="{{ taiga_rabbitmq_pass | string | replace('"','\\"') }}"
RABBITMQ_VHOST="{{ taiga_rabbitmq_vhost | string | replace('"','\\"') }}"
RABBITMQ_ERLANG_COOKIE="{{ taiga_rabbitmq_erlang_cookie | string | replace('"','\\"') }}"

EMAIL_BACKEND="{{ taiga_email_backend | string | replace('"','\\"') }}"
EMAIL_HOST="{{ taiga_email_host | string | replace('"','\\"') }}"
EMAIL_PORT="{{ taiga_email_port | string | replace('"','\\"') }}"
EMAIL_HOST_USER="{{ taiga_email_host_user | string | replace('"','\\"') }}"
EMAIL_HOST_PASSWORD="{{ (taiga_email_host_password | default('')) | string | replace('"','\\"') }}"
EMAIL_DEFAULT_FROM="{{ taiga_email_default_from | string | replace('"','\\"') }}"
EMAIL_USE_TLS="{{ taiga_email_use_tls | string | replace('"','\\"') }}"
EMAIL_USE_SSL="{{ taiga_email_use_ssl | string | replace('"','\\"') }}"

ENABLE_TELEMETRY="{{ taiga_enable_telemetry | string | replace('"','\\"') }}"
ATTACHMENTS_MAX_AGE="{{ taiga_attachments_max_age | string | replace('"','\\"') }}"
