---
- name: Installer Docker
  ansible.builtin.package:
    name: docker.io
    state: present
  become: true

- name: Créer /srv/gitlab
  ansible.builtin.file:
    path: /srv/gitlab
    state: directory
    mode: '0755'
  become: true

- name: Déployer stack GitLab
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: /srv/gitlab/docker-compose.yml
    mode: '0644'
  notify: restart gitlab
  become: true

- name: Lancer GitLab
  ansible.builtin.command: docker compose up -d
  args:
    chdir: /srv/gitlab
  become: true
